
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static '/stylesheets/skills.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <section id="skills">
    <div class="table1 container-sm container-lg container-md pt-5">
      <header class="mt-5 flex-wrap pt-5 mx-lg-5 px-lg-4 mx-md-5 px-md-4 mx-5 px-2 d-flex gap-2">
        <h1 class="text-white"><span class="hash-tag">#</span></h1>
        <h1 class="text-white">skills</h1>
        <h1><svg xmlns="http://www.w3.org/2000/svg" width="239" height="2" viewBox="0 0 239 2" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M239 1.5H0V0.5H239V1.5Z" fill="#C778DD"/>
          </svg></h1>
          
      </header>
      <table class="table mt-5 container-sm container-lg container-md">
        <thead style="position: sticky;top: 0">
            <tr class="">
                <th  class="col-lg-9 col-md-8 col-6">Language</th>
                <th class="col-lg-3 col-md-4 col-6">Level</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-lg-9 col-md-8 col-6">HTML</td>
            <td class="col-lg-3 col-md-4 col-6 text-warning">
              <span class="fa fa-star" aria-checked="true"></span>
              <span class="fa fa-star" aria-checked="true"></span>
              <span class="fa fa-star" aria-checked="true"></span>
              <span class="fa fa-star" aria-checked="true"></span>
              <span class="fa fa-star" aria-checked="true"></span>
            </td>
          </tr>
          <tr>
            <td class="col-lg-9 col-md-8 col-6">CSS</td>
            <td class="col-lg-3 col-md-4 col-6 text-warning">
              <span class="fa fa-star" aria-checked="true"></span>
              <span class="fa fa-star" aria-checked="true"></span>
              <span class="fa fa-star" aria-checked="true"></span>
              <span class="fa fa-star-half-full" aria-checked="true"></span>
            </td>
          </tr>
          <tr>
            <td class="col-lg-9 col-md-8 col-6">JavaScript</td>
            <td class="col-lg-3 col-md-4 col-6 text-warning">
              <span class="fa fa-star" aria-checked="true"></span>
              <span class="fa fa-star" aria-checked="true"></span>
              <span class="fa fa-star" aria-checked="true"></span>
              <span class="fa fa-star-half-full" aria-checked="true"></span>
            </td>
          </tr>
            <tr>
                <td class="col-lg-9 col-md-8 col-6">Python</td>
                <td class="col-lg-3 col-md-4 col-6 text-warning">
                  <span class="fa fa-star" aria-checked="true"></span>
                <span class="fa fa-star" aria-checked="true"></span>
                <span class="fa fa-star" aria-checked="true"></span>
                <span class="fa fa-star" aria-checked="true"></span>
                <span class="fa fa-star" aria-checked="true"></span>
                </td>
            </tr>
            <tr>
              <td class="col-lg-9 col-md-8 col-6">MYSQL</td>
              <td class="col-lg-3 col-md-4 col-6 text-warning">
                <span class="fa fa-star" aria-checked="true"></span>
                <span class="fa fa-star" aria-checked="true"></span>
                <span class="fa fa-star" aria-checked="true"></span>
                <span class="fa fa-star" aria-checked="true"></span>
                <span class="fa fa-star" aria-checked="true"></span>
              </td>
            </tr>
            <tr>
              <td class="col-lg-9 col-md-8 col-6">SQLITE3</td>
              <td class="col-lg-3 col-md-4 col-6 text-warning">
                <span class="fa fa-star" aria-checked="true"></span>
                <span class="fa fa-star" aria-checked="true"></span>
                <span class="fa fa-star" aria-checked="true"></span>
                <span class="fa fa-star" aria-checked="true"></span>
                <span class="fa fa-star" aria-checked="true"></span>
              </td>
            </tr>
            
        </tbody>
    </table>
    </div>
  </section>
