<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portfolio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static '/stylesheets/skills.css'%}">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg">
        <div class="container ">
          <a class="navbar-brand z-1" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 52 52" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M39 0H26V13H13H0V26V39V52H13H26V39H39H52V26V13V0H39ZM13 39H26V26H39V13H26V26H13V39Z" fill="white"/>
            </svg><span class="mx-3">ARA</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"  data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" data-bs-target="#navbarNavAltMarkup">
            <span class="text-white"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg></span>
          </button>
          <div class="collapse navbar-collapse mt-md-2 d-lg-flex justify-content-lg-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/home"><span class="hash-tag"># </span>home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/skills"><span class="hash-tag"># </span>skills</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/project"><span class="hash-tag"># </span>projects</a>
              </li> 
                      
              <li class="nav-item">
                <a class="nav-link" href="/contact"><span class="hash-tag"># </span>contact</a>
              </li>   

            </ul>
          </div>
        </div>
      </nav>
    </header>
    

    <section id="skills" class="container mt-5">
        <h3><span class="hash-tag">#</span>skills <svg xmlns="http://www.w3.org/2000/svg" width="239" height="2" viewBox="0 0 239 2" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M239 1.5H0V0.5H239V1.5Z" fill="#C778DD"/>
          </svg></h3>

        <div class="row d-flex justify-content-between">
          <div class="text-break text-white col-lg-5 col-md-12">
            <div class="left-decor-section ">
              <div class="justify-content-between d-flex mb-5">
                <p class="text-white dots">. . . . . . . .<br>
                  . . . . . . . .<br>
                  . . . . . . . .<br>
                  . . . . . . . .<br>
                  . . . . . . . .<br></p>
                <div class="decor-1 "></div>
              </div>
              <div class="decor-2">
                <div class="justify-content-between d-flex mb-5">
                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 156 156" fill="none">
                  <mask id="path-1-inside-1_64_1298" fill="white">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 39.75H38.75H77.5V78.5H38.75V117.25H77.5V156H38.75H0V117.25V78.5V39.75Z"/>
                  </mask>
                  <path d="M0 39.75V38.75H-1V39.75H0ZM77.5 39.75H78.5V38.75H77.5V39.75ZM77.5 78.5V79.5H78.5V78.5H77.5ZM38.75 78.5V77.5H37.75V78.5H38.75ZM38.75 117.25H37.75V118.25H38.75V117.25ZM77.5 117.25H78.5V116.25H77.5V117.25ZM77.5 156V157H78.5V156H77.5ZM0 156H-1V157H0V156ZM38.75 38.75H0V40.75H38.75V38.75ZM77.5 38.75H38.75V40.75H77.5V38.75ZM78.5 78.5V39.75H76.5V78.5H78.5ZM38.75 79.5H77.5V77.5H38.75V79.5ZM39.75 117.25V78.5H37.75V117.25H39.75ZM38.75 118.25H77.5V116.25H38.75V118.25ZM76.5 117.25V156H78.5V117.25H76.5ZM77.5 155H38.75V157H77.5V155ZM0 157H38.75V155H0V157ZM-1 117.25V156H1V117.25H-1ZM-1 78.5V117.25H1V78.5H-1ZM-1 39.75V78.5H1V39.75H-1Z" fill="#C778DD" mask="url(#path-1-inside-1_64_1298)"/>
                  <mask id="path-3-outside-2_64_1298" maskUnits="userSpaceOnUse" x="76.5" y="0" width="80" height="119" fill="black">
                    <rect fill="white" x="76.5" width="80" height="119"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M77.5 1H116.25H155V39.75V78.5V117.25H116.25H77.5V78.5H116.25V39.75H77.5V1Z"/>
                  </mask>
                  <path d="M77.5 1V0H76.5V1H77.5ZM155 1H156V0H155V1ZM155 117.25V118.25H156V117.25H155ZM77.5 117.25H76.5V118.25H77.5V117.25ZM77.5 78.5V77.5H76.5V78.5H77.5ZM116.25 78.5V79.5H117.25V78.5H116.25ZM116.25 39.75H117.25V38.75H116.25V39.75ZM77.5 39.75H76.5V40.75H77.5V39.75ZM116.25 0H77.5V2H116.25V0ZM155 0H116.25V2H155V0ZM156 39.75V1H154V39.75H156ZM156 78.5V39.75H154V78.5H156ZM156 117.25V78.5H154V117.25H156ZM116.25 118.25H155V116.25H116.25V118.25ZM116.25 116.25H77.5V118.25H116.25V116.25ZM78.5 117.25V78.5H76.5V117.25H78.5ZM77.5 79.5H116.25V77.5H77.5V79.5ZM115.25 39.75V78.5H117.25V39.75H115.25ZM77.5 40.75H116.25V38.75H77.5V40.75ZM76.5 1V39.75H78.5V1H76.5Z" fill="#C778DD" mask="url(#path-3-outside-2_64_1298)"/>
                </svg>
                <p class="text-white dots">. . . . . . . .<br>
                  . . . . . . . .<br>
                  . . . . . . . .<br>
                  . . . . . . . .<br>
                  . . . . . . . .<br></p>
              </div>
              </div>
            </div>
          </div>


          <div class=" text-white col-lg-5 col-md-12 d-flex gap-2 flex-wrap">
            <div class="languages col-5">
              <table>
                <tr>
                  <th>Languages</th>
                </tr>
                <tr>
                  <td>Python</td>
                </tr>
                <tr>
                <td>HTML</td>
                </tr>
                <tr>
                  <td>CSS</td>
                </tr>
                <tr>
                  <td>Javascript</td>
                </tr>
                <tr>
                  <td>MySQL</td>
                </tr>
              </table>
            </div>
            <div class="tools col-5">
              <table>
                <tr>
                  <th>Tools</th>
                </tr>
                <tr>
                  <td>VScode</td>
                </tr>
                <tr>
                <td>Font Awesome</td>
                </tr>
                <tr>
                  <td>Git</td>
                </tr>
                <tr>
                  <td>Figma</td>
                </tr>
              </table>
            </div>
            <div class="frameworks col-5">
              <table>
                <tr>
                  <th>Frameworks</th>
                </tr>
                <tr>
                  <td>Django</td>
                </tr>
                <tr>
                <td>Bootstrap</td>
                </tr>
              </table>
            </div>
            
          </div>
          
        </div>
        
        
        
    </section>
    

    
    <script src="home.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
  
</html>