.main-body{
    color: white;
    background-image:url('../images/reactjs-icon 2.png') ;
    background-repeat: no-repeat;
    background-position: right 120%;

}
.main-body h1{
    margin-top: 15%;
    margin-bottom: 10%;
    margin-left: 30px;
}
.main-body .bullets{

    width: 65%;
    font-size: 1.1rem;
    margin-left: 50px;
}
.main-body .bullets li{
    margin-bottom: 15px;
}
.main-body .bullets li::marker{
    font-size: 1.8rem;
    color: aqua;
}